[flake8]
# Paths to exclude: migrations, virtual environments, etc.
exclude =
    .git,
    __pycache__,
    .venv,
 
# Ignore specific errors and warnings
# E.g., E501: line too long, W503: line break before binary operator
ignore = 
    E501,
    W503

# Set maximum allowed line length (default is 79 characters)
max-line-length = 120

# Set maximum complexity allowed for a single function
max-complexity = 10

# Include error codes in the output
show-source = True

# Enable plugins if you are using any
# E.g., flake8-docstrings or flake8-import-order
# enable-extensions = D,I

# Set the maximum allowed McCabe complexity value for a block of code
# mccabe-complexity = 10

# Specify additional built-ins, useful when you are adding global objects through other means
# builtins = _

# For more fine-grained control, you can specify per-file-ignores
# per-file-ignores =
#     __init__.py: F401

